.env
!.env.example

**/node_modules/
**/dist/
**/target/
**/.idea/
*.iml
*.log

redes-database/04-create-app-login.local.sql
facial-service/data/embeddings/*.face
facial-service/data/embeddings/*.tmp
